html{
  display:flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color:black;
  width:98vw;
  height:98vh;
  background-repeat: none;
  background-size: cover;
}
h1{animation:glaze 2s ease-in-out infinite;}
@keyframes glaze{50%{color:yellow;text-shadow: 0 0 2vw yellow}}

h3{color:darkseagreen}

button{
  background-color:red;
  border:none;
  border-radius: 50%;
  width:10vw;
  height:10vw;
  animation: Tutorial 3s ease-out}
@keyframes Tutorial{
  from{transform: translateY(-60vh)}
  50%{transform: translateY(10vh)}
}
@keyframes One{
  0%{transform: translateY(60vh)}
  50%{transform: translateY(0vh)}
  100%{transform: translateY(-60vh)}
}
@keyframes move{
  0%{transform: translate(10vw,10vw)}
  
  25%{box-shadow: 0 0 5vw 1vw red;transform: translate(10vw,80vw)}
  
  50%{box-shadow: none;transform: translate(80vw,80vw)}
  
  75%{box-shadow: 0 0 5vw 1vw red;transform: translate(80vw,10vw)}
  
  100%{transform: translate(10vw,10vw)}
  }