html{background-color:black}
  h1{
    position:absolute;
    top:120vw;
    left:50vw;
    animation:glaze 750ms ease-in-out infinite; }
  @keyframes glaze{
    50%{color:yellow;
      text-shadow: 0 0 2vw yellow
    }
  }
  p{color:darkseagreen;
  position: absolute;
  top:80vh;
  left:40vw;
    font-size: 1rem;
  }
  button{background-color:red;
  border:none;
  border-radius: 50%;
  width:10vw;
  height:10vw;
  animation: move 5s ease-in-out infinite;
  }
  @keyframes move{
    0%{transform: translate(10vw,10vw)}
    25%{box-shadow: 0 0 5vw 1vw red;
    transform: translate(10vw,80vw)}
    50%{box-shadow: none;
      transform: translate(80vw,80vw)}
    75%{box-shadow: 0 0 5vw 1vw red;
      transform: translate(80vw,10vw)
    }
    100%{transform: translate(10vw,10vw)}
  }