@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html{
  display:flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color:black;
  width:98vw;
  height:98vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
}
h3{animation:glaze 2s ease-in-out infinite;}
@keyframes glaze{50%{color:yellow;text-shadow: 0 0 2vw yellow}}

h6{color: turquoise
;opacity:70%;}

button{
  background-color:red;
  border:none;
  border-radius: 50%;
  width:10vw;
  height:10vw;
  animation: Tutorial 3s ease-out;}
  
@keyframes Tutorial{
  from{transform: translateY(-60vh)}
  50%{transform: translateY(10vh)}
  to{box-shadow: 0 0 5vw 1vw red;}
}
@keyframes One{
  0%{transform: translateY(60vh)}
  50%{transform: translateY(0vh);
    box-shadow: 0 0 5vw 1vw red;
  }
  100%{transform: translateY(-60vh)}
}
@keyframes Two{
  0%{transform: translate(-40vw,-40vw)}
  
  25%{box-shadow: 0 0 5vw 1vw black;transform: translate(-40vw,40vw)}
  
  50%{box-shadow: none;transform: translate(40vw,40vw)}
  
  75%{box-shadow: 0 0 5vw 1vw black;transform: translate(40vw,-40vw)}
  
  100%{transform: translate(-40vw,-40vw)}
  }